[submodule "lib/seqan"]
	path = lib/seqan
	url = https://github.com/seqan/seqan
[submodule "seqan3"]
	path = lib/seqan3
	url = https://github.com/seqan/seqan3.git
	branch = master
[submodule "lib/sliding-window"]
	path = lib/sliding-window
	url = https://github.com/eaasna/sliding-window
[submodule "lib/shopping_cart_queue"]
	path = lib/shopping_cart_queue
	url = https://github.com/marehr/shopping_cart_queue
